[submodule "crates/joltphysics-sys/vendor/joltc"]
	path = crates/joltphysics-sys/vendor/joltc
	url = https://github.com/amerkoleci/joltc.git
[submodule "crates/joltphysics-sys/vendor/JoltPhysics"]
	path = crates/joltphysics-sys/vendor/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
